<h1>Inscription</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'cookbook:register' %}" method="post">
{% csrf_token %}
	<p>
		<label for="username" >Nom d'utilisateur</label>
		{% if username %}<input type="text" name="username" value="{{ username }}"/>{% else %}
	    <input type="text" name="username"/>{% endif %}
	</p>

	<p>
		<label for="name">Nom</label>
		{% if name %}<input type="text" name="name" value="{{ name }}"/>{% else %}
	    <input type="text" name="name"/>{% endif %}
	</p>

	<p>
		<label for="firstname">Prénom</label>
	    {% if firstname %}<input type="text" name="firstname" value="{{ firstname }}"/>{% else %}
	    <input type="text" name="firstname"/>{% endif %}
	</p>

	<p>
		<label for="email">Email</label>
	    {% if email %}<input type="email" name="email" value="{{ email }}"/>{% else %}
	    <input type="email" name="email"/>{% endif %}
	</p>

	<p>
	    <label for="password">Mot de passe</label>
	    <input type="password" name="password"/>
	</p>

<input type="submit" value="Valider" />
</form>